In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [9]:
cities = ['London', 'Berlin', 'Warsaw', 'Paris']

In [10]:
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [11]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [12]:
primeNumbers=(2,3,5,11,13,17,19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3    11
4    13
5    17
6    19
dtype: int64

In [13]:
logicalValues =[True,True,False]
pd.Series(logicalValues)

0     True
1     True
2    False
dtype: bool

In [15]:
SpielbergFilms={"Jaws": 1975,
               "1941" : 1979,
               "Indna" : 1981,
               'E.T' : 1982}

In [16]:
SpielbergFilms

{'Jaws': 1975, '1941': 1979, 'Indna': 1981, 'E.T': 1982}

In [17]:
pd.Series(SpielbergFilms)

Jaws     1975
1941     1979
Indna    1981
E.T      1982
dtype: int64